@import 'responsive.mixin.scss';

.app-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

// mat-drawer {
// }

mat-toolbar {
    position: fixed;
}
  
mat-drawer-content {
    display: flex;
    flex-direction: column;
}



.page-content {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;

    // Use breakpoints because the toolbar height changes
    margin-top: 79px; // 64 + 15

    .content-container {

        width: 75%;

        // Use media breakpoints via responsive.mixin.scss to change width

    }

}